@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
}

:root {
    --strong-cyan: hsl(172, 67%, 45%);

    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --dark-grayish-cyan2: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --light-grayish-cyan2: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--light-grayish-cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.container {
    background-color: var(--white);
    border-radius: 25px;
    display: flex;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    height: 430px;
    max-width: 1000px;
    padding: 2rem;
}

.title {
    color: var(--dark-grayish-cyan);
    margin-bottom: .5rem;
}

.calc {
    width: 50%;
    margin-right: 3rem;
}

.calc__bill, .calc__tp {
    margin-bottom: 3rem;
}

.calc__input-container {
    position: relative;
}

.calc__input-container___icon {
    position: absolute;
    top: 13px;
    left: 15px;
}

.calc__input-container___input {
    background-color: var(--light-grayish-cyan2);
    border-radius: 4px;
    border: 2px solid var(--white);
    color: var(--very-dark-cyan);
    font-weight: 700;
    text-align: right;
    width: 100%;
    padding-right: 10px;
    outline: none;
}

.calc__input-container___input:focus, .calc__buttons___input:focus {
    border: 2px solid var(--strong-cyan);
}

.calc__buttons {
    display: flex;
    flex-wrap: wrap;
}

.calc__buttons___button {
    background-color: var(--very-dark-cyan);
    border: none;
    border-radius: 7px;
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
    height: 45px;
    width: 30%;
    margin: 1.5%;
    transition: background-color, 0.4s;
}

.calc__buttons___button:hover {
    background-color: var(--light-grayish-cyan);
}

.calc__buttons___input {
    background-color: var(--light-grayish-cyan2);
    border: 2px solid var(--white);
    border-radius: 7px;
    color: var(--very-dark-cyan);
    font-weight: 700;
    height: 45px;
    width: 30%;
    margin: 1.5%;
    outline: none;
    text-align: right;
}


.calc__buttons___input::placeholder {
    text-align: center;
}

.people__title {
    display: flex;
    justify-content: space-between;
}

.people__error {
    color: red;
    font-weight: 400;
}

.input__error {
    border-color: red;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--very-dark-cyan);
    border-radius: 20px;
    color: var(--white);
    width: 50%;
    padding: 2rem;
}

.result__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.result__title {
    font-weight: 500;
    margin-bottom: 8px;
}

.result__text {
    font-weight: 500;
    color: var(--dark-grayish-cyan);
}

.result__tip-amount___value {
    color: var(--strong-cyan);
    font-size: 2.6rem;
}

.result__button {
    background-color: var(--strong-cyan);
    border: none;
    border-radius: 5px;
    color: var(--very-dark-cyan);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    padding: .5rem;
    text-transform: uppercase;
    transition: background-color, 0.4s;
}

.result__button:hover {
    background-color: var(--light-grayish-cyan);
}

.result__button:active {
    transform: translate(3px, 3px);
    opacity: 0.8;
}

.hidden {
    display: none;
}

.activeButton {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

@media screen and (max-width: 740px) {
    .logo {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .container {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .calc, .result {
        margin: 0;
        width: 100%;
    }

    .result {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 450px) {
    .calc__buttons___button, .calc__buttons___input {
        width: calc(50% - 2%);
        margin: 1%;
    }

    .result {
        padding: 2rem 1rem;
    }

    .result__tip-amount___value {
        font-size: 2rem;
    }
}